.calc-btn {
  display: inline-block;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  width: 25%;
  background-color: #ccc;
  padding: 10px;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
  height: 59px;
  vertical-align: top;
}

.calc-btn:hover {
  background-color: rgb(122, 165, 190);
}
